In [19]:

import pandas as pd

from sklearn.preprocessing import MinMaxScaler
from xgboost import XGBClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [18]:
data = pd.read_csv("/content/parkinsons.data")
data.head()
data.shape

(195, 24)

In [10]:
X = data.drop(['status' , 'name'] , axis = 'columns')
Y = data[['status']]
X.shape

(195, 22)

In [6]:
scaler=MinMaxScaler((-1,1))
x=scaler.fit_transform(X)

In [8]:
x[5]

array([-0.62486319, -0.88153546, -0.44372287, -0.49174079, -0.4229249 ,
       -0.6194605 , -0.29474812, -0.61984267, -0.31586635, -0.39030403,
       -0.27850539, -0.19782904, -0.61344667, -0.27834125, -0.92634561,
        0.05153215, -0.25804457,  0.99825502,  0.34592248,  0.31843528,
       -0.32000189,  0.29750553])

In [20]:
Data= pd.DataFrame(x)
Data.head()

         0         1         2   ...        19        20        21
0 -0.631383 -0.774817 -0.890370  ...  0.171530 -0.218677 -0.005381
1 -0.603346 -0.810139 -0.443354  ...  0.482674 -0.053710  0.342652
2 -0.669923 -0.881744 -0.469423  ...  0.372742 -0.182361  0.193365
3 -0.669993 -0.854145 -0.471599  ...  0.476177 -0.126046  0.343899
4 -0.677701 -0.838182 -0.479786  ...  0.027597 -0.191329  0.515223

[5 rows x 22 columns]

In [11]:
x_.shape

(195, 22)

In [15]:
x_train,x_test , y_train , y_test = train_test_split(x , Y  , test_size = 0.2)

In [14]:
y=scaler.fit_transform(Y)
Y = pd.DataFrame(y)

In [17]:
model = XGBClassifier() # calling the classifier
model.fit(x_train , y_train) #fitting the model ( training the dataset)
predictions = model.predict(x_test) # Making the trained model predict parkinsons predictions from test dataset 
accuracy_score(predictions , y_test)

/usr/local/lib/python3.7/dist-packages/sklearn/preprocessing/_label.py:235: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/preprocessing/_label.py:268: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.9487179487179487